<div>{{mensaje}}</div>
<div>
    <table>
        <tr>
            <td>{{puntajeBot[0]}}</td>
            <td>{{puntajeBot[6]}}</td>
            <td>{{puntajeBot[3]}}</td> 
        </tr>
        <tr>
            <td>{{puntajeBot[1]}}</td>
            <td>{{puntajeBot[7]}}</td>
            <td>{{puntajeBot[4]}}</td> 
        </tr>
        <tr>
            <td>{{puntajeBot[2]}}</td>
            <td>{{puntajeBot[8]}}</td>
            <td>{{puntajeBot[5]}}</td>
        </tr>
        <tr>
            <td>{{puntajeBot[9]}}</td>
            <td>{{puntajeBot[10]}}</td>
        </tr>
    </table>
    <div>Total Bot: {{puntajeTotalBot}}</div>
</div>
<div>
    <div>
        <span (click)="seleccionarDados(0)">{{dados[0]}}</span>
        <span (click)="seleccionarDados(1)">{{dados[1]}}</span>
        <span (click)="seleccionarDados(2)">{{dados[2]}}</span>
        <span (click)="seleccionarDados(3)">{{dados[3]}}</span>
        <span (click)="seleccionarDados(4)">{{dados[4]}}</span>
    </div>
    <button type="button" [disabled]="botonLanzarDisabled" (click)="jugarJ1()">Lanzar</button>
</div>
<div>
    <table>
        <tr>
            <td (click)="anotarPuntajeJ1(0)">{{puntajeJ1Tablero[0]}}</td>
            <td (click)="anotarPuntajeJ1(6)">{{puntajeJ1Tablero[6]}}</td>
            <td (click)="anotarPuntajeJ1(3)">{{puntajeJ1Tablero[3]}}</td> 
        </tr>
        <tr>
            <td (click)="anotarPuntajeJ1(1)">{{puntajeJ1Tablero[1]}}</td>
            <td (click)="anotarPuntajeJ1(7)">{{puntajeJ1Tablero[7]}}</td>
            <td (click)="anotarPuntajeJ1(4)">{{puntajeJ1Tablero[4]}}</td> 
        </tr>
        <tr>
            <td (click)="anotarPuntajeJ1(2)">{{puntajeJ1Tablero[2]}}</td>
            <td (click)="anotarPuntajeJ1(8)">{{puntajeJ1Tablero[8]}}</td>
            <td (click)="anotarPuntajeJ1(5)">{{puntajeJ1Tablero[5]}}</td> 
        </tr>
        <tr>
            <td (click)="anotarPuntajeJ1(9)">{{puntajeJ1Tablero[9]}}</td>
            <td (click)="anotarPuntajeJ1(10)">{{puntajeJ1Tablero[10]}}</td>
        </tr>
    </table>
    <div>Total Tu: {{puntajeTotalJ1}}</div>
</div>

